/*07/01/23*/

:root{--font-title-site: 'Fredericka the Great', cursive;
    --h1-title: 'Merriweather', serif;
    --h2: 'Merriweather', serif;
    --h3: 'Merriweather', serif;
    --p:'IBM Plex Sans', sans-serif;
    --color-one: #242424;
    --color-two: #333333;
    --color-three:#050505;
    --color-four: #000000;
    --color-five: #8C7264;
    --color-six: #A65E44;
    --color-seven: #BFA59B;
    --color-eight: #D9C2BA;
    --color-nine: #593B34;
    --color-ten: #F2F2F2;
    --color-bg-test:#7B94A8;
      }

@media screen and (min-width: 1201px) and (max-width: 1900px){

    *{margin:0;
        padding: 0;
        box-sizing: border-box;}
 
  body{background-color: var(--color-three);}


  main{background-color: var(--color-nine);
       background-image: url(../images/bg-computer.jpg);
       background-size: cover;
       background-repeat: no-repeat;
       width: 100%;
       height: auto;
       display: flex;
       flex-direction: column;}

       header, section, footer{
        width: 90%;
         height: auto;
         margin: auto;
         margin-bottom: 5px;
         border-radius: 15px;} 

         /*-----------------header------------*/

         header{background-color: var(--color-four);
                 opacity: 0.7;
                 display: inline-flex;
                  flex-direction: row;
                  justify-content: flex-start;
                  margin-top: 10px;
                  height: 300px;
                  
                  }                        
                                   
                                   
              #msg-title{ font-size:120px;
                           font-weight: bolder;
                           font-variant: small-caps;
                           color: var(--color-ten);
                           padding-top: 10px;
                           padding-left: 30px;
                           text-align: center;}  

        #fale{color:aliceblue;
              font-weight: bolder;
              font-size: 20px;}

               /*----------------------Estilos da page LapTop------07/01/23---------------------------------------------------*/     
    
     

    #coffeeCombos{visibility: collapse;}

    .laptop{width: 90%;
            height: auto;
           
            display: flex;
            flex-direction:column;
            justify-content: flex-start;
           
        }

        .comboLap{width: 100%;
                   height: auto;
                   display: grid;
                   
                    }

      .title-comboLap{font-size: 35px;
                      color: var(--color-ten);
                      border: solid black 3px;
                      font-weight: bolder;
                      font-family: 'Times New Roman', Times, serif;
                       text-align: center;
                      padding-bottom: 20px;
                      height: 50px;
                       margin: auto;
                       margin-bottom: 30px;
                       background-color:var(--color-nine);
                       opacity: 0.7;
                       padding-left: 20px;
                       padding-right: 20px;
                       border-radius: 15px;}
                       
       .title-comboLap:hover{border: white 3px solid;}
                         
                       
                      
                 .navLapTop > a{width: 95%;
                        height:90px; 
                       border: solid 3px black;
                       display: grid;
                       margin-bottom: 10px;
                       justify-items: center;
                       margin-left: 20px;
                       
                       }           

       .navLapTop > a{background-color: var(--color-nine);
                      color:var(--color-ten);
                      text-decoration: none;
                      font-size: 30px;
                      border-radius: 15px;
                      padding-top: 10px;}

      .navLapTop > a:hover{background-color: var(--color-ten);
                            color: var(--color-nine);} 


                             /*---------------------------sessao mapa-------------------*/   

      .mapa{ border-radius: 15px;
        width:100%;
       margin: auto;
       height: 300px;
       border: solid black 3px;
      }
                        

/*-----------footer--------------------*/ 

footer{background-color: var(--color-four);
      opacity: 0.7;
      width: 90%;
      height: 100px;}

      #p-footer{font-size: 26px;
       font-weight: bolder;
          font-family: 'Times New Roman', Times, serif;
          padding-right: 10px;
          padding-top: 20px;
          text-align: center; 
          color: var(--color-ten);}    


}       
                      


                     

       

   



